body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Hero Section */

.hero-section {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.hero-section-container {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 108px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.right-links {
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
    gap: 24px;
    font-size: 18px;
}

.hero-container {
    display: flex;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    height: 240px;
    width: 520px;
    color: #f9faf8;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
}

.hero-text-and-button {
    width: 460px;
}

.hero-button {
    background-color: #3882F6;
    border: 0;
    border-color: #3882F6;
    padding: 8px 32px;
    font-size: 16px;
    color: #f9faf8;
    font-weight: 900;
    border-radius: 7.5px;
    margin-top: 10px;
}

/* Info Section */

.info-section {
    display: flex;
    justify-content: center;
}

.info-section-container {
    text-align: center;
}

.info-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 48px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 155px;
}

.info-image {
    height: 155px;
    width: 155px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 15px;
    margin-bottom: 8px;
}