body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

.main {
    background: #1f2937;
    display: flex;
    justify-content: center;
    padding-bottom: 128px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.right-links {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.container-one {
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.hero {
    display: flex;
}

.hero-text {
    width: 460px;
    margin-right: 32px;
}

.image {
    height: 250px;
    width: 500px;
    background-color: #7f7f7f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin-top: 16px;
    font-weight: 900;
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary, .right-links {
    font-size: 18px;
    color: #e5e7eb;
}

.signup {
    background: #3882f6;
    color: #f9faf8;
    padding: 8px 32px;
    font-weight: 900;
    border-radius: 10px;
    border-style: solid;
    border-color: #3882f6;
    font-size: 16px;
    margin: 12px;
    margin-left: 0px;
}

.info-title {
    font-size: 32px;
    color: #1f2937;
    font-weight: 900;
}

.cta-container {
    background-color: #3882f6;
}

.cta-main {
    color: #f9faf8;
    font-weight: 900;
}

.cta-secondary {
    color: #e5e7eb
}

.cta-button {
    background-color: #3882f6;
    border-color: #f9faf8;
    border-style: solid;
    color: #f9faf8;
}

.footer {
    height: 90px;
    background: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}